/*Simple CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
    width: 100vw;
    font-size: 24px;
}
/*End of Reset*/

body{
    display: grid;
    grid-template-rows: 180px auto 100px;
    background:#F78FB3;
}
header{
    display: flex;
     background:#f5bf03;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     text-align: center;

}

footer{
width:100%;
background-color: #9C6ADE;
}
.Pokemon{
    height:100%;
    align-items:right;

}
main {
    padding:50px;
}